<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.or.codelabs.belajarbraille">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="Halaman Utama. 6 Menu."
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Belajar Braille Hijaiyah. 7 Simbol."
            android:name=".learn_hijaiyah.LearnHijaiyahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Belajar Penggabungan Braille Hijaiyah dengan Tanda Baca. 9 Simbol."
            android:name=".learn_braillemerge.LearnBrailleMergeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Belajar Braille Tanda Baca. 6 Simbol."
            android:name=".learn_punctuation.LearnPunctuationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Latihan Braille Hijaiyah"
            android:name=".exercise_hijaiyah.ExerciseHijaiyahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Latihan Penggabungan Braille Hijaiyah dengan Tanda Baca"
            android:name=".exercise_braillemerge.ExerciseBrailleMergeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Latihan Braille Tanda Baca"
            android:name=".exercise_punctuation.ExercisePunctuationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Detail Braille. 8 Elemen Layar."
            android:name=".hijaiyah_detail.HijaiyahDetailActivity"
            android:parentActivityName=".learn_hijaiyah.LearnHijaiyahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Detail Braille. 8 Elemen Layar."
            android:name=".punctuation_detail.PunctuationDetailActivity"
            android:parentActivityName=".learn_punctuation.LearnPunctuationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:label="Detail Penggabungan Braille. 16 Elemen Layar."
            android:name=".braillemerge_detail.BrailleMergeDetailActivity"
            android:parentActivityName=".learn_braillemerge.LearnBrailleMergeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThemeSwitcherDialog"
            android:screenOrientation="portrait"/>
    </application>

</manifest>